html,
body {
  width: 100%;
  height: 100%;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(6, 100px);
}

.game-grid-cell {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.step-in-game,
.step-end-game {
  display: none;
}
